*{
	margin: 0em;
	padding: 0em;
	font-family: 'Nunito', sans-serif;
}

#menu{
	display: flex;
	margin: 0em 1em 1em 1em;
	background-color: #f1f1f1;
	height: 2.5em;
}

.encabezado{
	display: flex;
	justify-content: space-between;
	margin: 0em 1em 0em 1em;
	height: 4em;
	border-bottom: solid;
	border-width: 0.05em;
}

.boton-login{
	padding: 0.3em 0.5em;
	font-weight: 700;
	color: white;
	height: 1.5em;
	align-self: center;
}

.boton-login-color_azul{
	background-color: #004b6f;
	
}

.boton-login-color_azul:hover{
	background-color: #2b2d42;
	
}

.titulo{
	padding-top: 0.3em;
	font-weight: 700;
	font-size: 2em;
}

.subtitulo{
	color: #004b6f;
}

.pie{
	margin-top: 2em;
	text-align: center;
}