@media screen and (max-width: 800px) {
	.cuerpo{
		display: flex;
		flex-direction: column;
	}

	.foro{
		margin-top: 1em;
		order: 2;
	}

	.perfil{
		padding-left: 0em !important;
		width: 100% !important;
		order: 1;
	}
}

.titulo-accion{
	display: flex;
	padding: 0em 1em 0em 1em;
}

.accion{
	margin: 0em 0em 0em 0.5em;
	font-size: 1.5em;
	font-weight: 700;
	color: #004b6f;
}

.cuerpo{
	display: flex;
	padding: 0em 1em 0em 1em;
}

.foro{
	font-weight: 700;
	width: 100%;
}

.perfil{
	padding-left: 1em;
	width: 30em;
}

.caja-titulo{
	border-radius: 10px 10px 0px 0px;
	padding-left: 0.5em;
	background-color: #2b2d42;
	color: white;
	font-weight: 700;
}

.detalle{
	border-style: solid;
	border-color: grey;
	border-width: 0.1em;
	padding: 0.5em;
	text-align: justify;
}

.fila{
	border-style: solid;
	border-color: #004b6f;
	border-width: 0.1em;
	margin-top: -0.1em;
	padding: 0.5em;
	color: black;
	font-weight: 400;
}

.fila-fondo_gris{
	background-color: #f1f1f1;
}


.fila-fondo_blanco{
	background-color: white;
}