@media screen and (max-width: 800px) {
	.precioa, .ccompra, .pcompra, .pventa, .cventa, .monto, .oper{
		display:none;
	}
}

.boton{
	padding: 0.5em;
	font-weight: 700;
	color: black;
}

.boton-color_azul{
	background-color: #f1f1f1;
}

.boton:hover{
	background-color: #2b2d42;
	color: white;
}

#panel{

	margin: 0em 1em;
	display: flex;
	flex-direction: column;

	border-radius: 10px 10px 0px 0px;

	overflow: hidden;
	/*box-shadow: 0px 0px 10px 1px black;*/
	border-style: solid;
	border-width: 0.1em;
}

.fila{
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	flex-grow: 0;

}

.fila:hover{
	background-color: rgba(29,104,167,0.3);
}

.fila-fondo_gris{
	background-color: #f1f1f1;
}

.fila-fondo_titulo{
	background-color: #2b2d42;
	color: white;
	font-weight: 700;
}

.fila-fondo_white{
	background-color: white;
}

.ticker-estilo{
	color: #004b6f;
	text-align: left !important;
}

.ticker-a:link{
	color: #004b6f;
}

.ticker-a:visited{
	color: #004b6f;
}

.columna{
	/*border-style: solid;*/
	width: 1em;
	flex-grow: 1;
	text-align: right;
}

.var-color_verde{
	color: green;
}

.var-color_rojo{
	color: red;
}

.cpcompra-fondo_verde{
	background-color: rgba(132, 226, 150, 0.3);
}

.cpventa-fondo_rojo{
	background-color: rgba(230, 57, 70, 0.3);
}

.pcv-estilo{
	color:#023e8a;
	text-decoration: underline;
}